# .prettierrc or .prettierrc.yaml
printWidth: 80
trailingComma: "es5"
tabWidth: 4
semi: false
singleQuote: true
overrides:
  - files: "*.json"
    options:
      printWidth: 1000
  - files:
      - "*.html"
      - "legacy/**/*.js"
    options:
      tabWidth: 4
